@import "../../../node_modules/bpmn-js/dist/assets/diagram-js.css";

.process-content,
.process-content > div {
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.canvas {
    border: solid 1px black;
    height: 100%;
}
body.shown .canvas,
body.loaded .canvas {
    display: block;
}
body.loaded .canvas svg {
    visibility: hidden;
}

.cjs-powered-by,
.bjs-powered-by {
    position:fixed !important;
    right:0;
}
