
table.widetable-process {
    width: 100%;
}

.process-description {
    margin: 10px 0;
    width: 45em;
}

table.widetable-process tbody tr td:first-child {
    border-left: none;
    max-width: 45em;
}


table.widetable-process th, table.widetable-process td {
    border-bottom: 1px solid #bfc1c3;
}

table.widetable-process td button {
    margin: 10px 0;
    text-align: right;
}

table.widetable-process td a {
   text-decoration: underline;
}

table.narrowtable-process {
    width: 100%;
}
table.narrowtable-process tr td,
table.narrowtable-process tr th {
    border: none;
    padding: 15px 0 0;
}

table.widetable-process tr td:nth-child(3) {
    text-align: right;
}

table.narrowtable-process td button {
    width: 100%;
    display:block;
}
