
$govuk-compatibility-govukfrontendtoolkit: true;
$govuk-compatibility-govuktemplate: true;
$govuk-compatibility-govukelements: true;

@import "../../node_modules/govuk-frontend/all";
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/formiojs/dist/formio.full.css";
@import "../../node_modules/flatpickr/dist/themes/material_blue.css";

html {
  background-color: transparent;
}

.govuk-button {
  font-size: medium !important;
}


body {
  overscroll-behavior-y: none;
  font-family: "nta", Arial, sans-serif;
}


.status {
  background-color: govuk-colour("blue");
  color: govuk-colour("white");
  padding: 15px;
  margin-bottom: 10px;

  p {
    font-weight: 400;
  }

  .status-extra {
    font-weight: normal;
  }
}

@include govuk-media-query($from: tablet) {
  .status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    p {
      font-size: 20px;
      margin: 0;
    }

    .status-extra {
      font-size: 18px;
    }
  }
}

.padding {
  padding-left: 15px;
}


.circle-white {
  color: #005ea5;
  background: #fff;
  float: left;
  margin-right: 10px;
}

.bottom-right-container {
  justify-content: flex-end;
  display: flex;
}

.sk-spinner {
  transform: scale(2);
}

.gov-pagination .pagination > li > a {
  border: none;
}

.pagination .pagination_list-items {

  li {
    display: inline-block;

    a {
      //@include bold-19;
      // @extend .bold-small;
      color: govuk-colour("blue");
      display: inline-block;
      padding: 15px 5px 10px 5px;
      margin-right: 15px;
      text-decoration: none;

      &:focus {
        outline: 0;
      }
    }

    &.active a,
    &.active a:hover {
      color: govuk-colour("blue");
      -webkit-box-shadow: inset 0px -5px 0px 0px govuk-colour("blue");
      -moz-box-shadow: inset 0px -5px 0px 0px govuk-colour("blue");
      box-shadow: inset 0px -5px 0px 0px govuk-colour("blue");
    }
  }
}

.padding {
  padding-left: 15px;
}

.pagination {
  padding: 5px;
}

.pagination__item {
  display: inline-block;
  list-style: none;

}

.pagination__link {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:focus {
    background: govuk-colour("grey-4");
    outline: 3px solid govuk-colour("yellow");
  }

  &.current {
    color: govuk-colour("black");
    font-weight: 700;
    border: none;
    pointer-events: none;
    cursor: default;

    &:hover, &:focus {
      color: govuk-colour("black");
      background: none;
    }
  }
}

.pagination__summary {
  padding: 0 0;
  text-align: center;
}

.gov-panel {

  .panel-border-wide {
    border-left-width: 10px;
  }

  .panel {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    border-left-style: solid;
    border-color: #bfc1c3;
    padding: 0.78947em;
    margin-bottom: 0.78947em;
    border-radius: 0;
    border-bottom-style: none;
    border-top-style: none;
    border-right-style: none;
    box-shadow: 0 0 0;
  }
}


.details-iframe {
  position: absolute;
  height: 100%;
  width: 90%;
}


nav[aria-label="navigation"] .pagination > li > span {
  position: relative;
  color: govuk-colour("black");
  background-color: #fff;
  border: 0 solid #ddd;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

nav[aria-label="navigation"] .pagination > li > span:hover {
  color: govuk-colour("black");
  z-index: 3;
  cursor: pointer;
  background-color: #aaa;
  border-color: #aaa;
}

nav[aria-label="navigation"] .pagination > .active > span {
  padding-bottom: 2px;
  border-bottom: 3px solid #aaa;
  color: govuk-colour("black");
}

nav[aria-label="navigation"] .pagination > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


@media only screen and (max-width: 600px) {
  .__card {
    display: block;
    float: left;
    margin-bottom: 30px;
    width: 100%;
  }
}

.__card {
  display: block;
  float: left;
  margin-bottom: 30px;

}

.card__body {
  display: block;
  background-color: govuk-colour("grey-3");
  padding: 1em;
  color: govuk-colour("black");
  text-decoration: none;

  span {
    display: block;
  }
}

a.card__body {
  color: #005ea5;

  &:hover, &:focus {
    cursor: pointer;
    background-color: govuk-colour("grey-4");
    color: #2b8cc4;
    text-decoration: none;
  }
}

.card__footer {
  display: block;
  background-color: govuk-colour("grey-4");
  padding: 1em;
  height: 4em;
}

.btn-group button {
  margin-right: 5px;
}

.btn-block {
  display: block;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@media only screen and (max-width: 600px) {
  .sk-spinner {
    transform: scale(0.85);
  }

}

@media (max-width: 779px) {
  .btn {
    margin-bottom: 10px;
  }
}

.tasksGrouping {
  margin-bottom: 2em;
}

.button--secondary {
  background-color: govuk-colour("grey-3");
  box-shadow: 0 $govuk-border-width-form-element 0 darken(govuk-colour("grey-3"), 40%);

  &,
  &:link,
  &:visited,
  &:active,
  &:hover {
    color:  govuk-colour("black");
  }

  @include govuk-compatibility(govuk_template) {
    &:link:focus {
      color: darken( govuk-colour("grey-3"), 10%);
    }
  }

  &:hover,
  &:focus {
    background-color: darken( govuk-colour("grey-3"), 10%);
  }
}


.data-item {
  display: block;
  line-height: 1;
}
