
$path: "../../node_modules/govuk_frontend_toolkit/images/";

@import "../../node_modules/govuk_frontend_toolkit/stylesheets/colours";                                // Colour variables
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/font_stack";                             // Font family variables
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/measurements";                           // Widths and gutter variables

@import "../../node_modules/govuk_frontend_toolkit/stylesheets/conditionals";                           // Media query mixin
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/device-pixels";                          // Retina image mixin
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/grid_layout";                            // Basic grid layout mixin
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/typography";                             // Core bold and heading mixins, also external links
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/shims";                                  // Inline block mixin, clearfix placeholder

@import "../../node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/alpha-beta";
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/buttons";
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/breadcrumbs";
@import "../../node_modules/govuk_frontend_toolkit/stylesheets/url-helpers";                            // Function to output image-url, or prefixed path (Rails and Compass only)

@import "../../node_modules/govuk-elements-sass/public/sass/elements/helpers";                       // Helper functions and classes
@import "../../node_modules/govuk-elements-sass/public/sass/elements/reset";
@import "../../node_modules/govuk-elements-sass/public/sass/elements/layout";                        // Main content container. Grid layout - rows and column widths
@import "../../node_modules/govuk-elements-sass/public/sass/elements/elements-typography";           // Typography
@import "../../node_modules/govuk-elements-sass/public/sass/elements/buttons";                       // Buttons
@import "../../node_modules/govuk-elements-sass/public/sass/elements/icons";                         // Icons - numbered steps, calendar, search
@import "../../node_modules/govuk-elements-sass/public/sass/elements/lists";                         // Lists - numbered, bulleted
@import "../../node_modules/govuk-elements-sass/public/sass/elements/tables";                        // Tables - regular, numeric
@import "../../node_modules/govuk-elements-sass/public/sass/elements/details";                       // Details summary
@import "../../node_modules/govuk-elements-sass/public/sass/elements/panels";                        // Panels with a left grey border
@import "../../node_modules/govuk-elements-sass/public/sass/elements/forms";                         // Form - wrappers, inputs, labels
@import "../../node_modules/govuk-elements-sass/public/sass/elements/forms/form-multiple-choice";    // Custom radio buttons and checkboxes
@import "../../node_modules/govuk-elements-sass/public/sass/elements/forms/form-date";               // Date of birth pattern
@import "../../node_modules/govuk-elements-sass/public/sass/elements/forms/form-validation";         // Errors and validation
@import "../../node_modules/govuk-elements-sass/public/sass/elements/breadcrumbs";                   // Breadcrumbs
@import "../../node_modules/govuk-elements-sass/public/sass/elements/phase-banner";                  // Alpha and beta banners and tags
@import "../../node_modules/govuk-elements-sass/public/sass/elements/components";                    // GOV.UK prefixed styles - blue highlighted box
@import "../../node_modules/govuk-elements-sass/public/sass/elements/shame";                         // Hacks and workarounds that will go away eventually
@import "../../node_modules/govuk_template_ejs/assets/stylesheets/govuk-template.css";


.nav-menu {
  color: white;
  text-align: right;
  cursor: pointer;
}

.small-menu {
  text-align: left;
  white-space: nowrap;
}

#global-header .header-proposition #proposition-links a.active {
  color: #1d8feb;
  padding-bottom: 2px;
  border-bottom: 3px solid #1d8feb;
}

#global-header .header-proposition #proposition-links a:hover {
  text-decoration: none;
}