/* Styles specific to Home Office pages */

.home-top {

}

.home-top__title {

}

.home-home-top__links {

}

.home-promo__link {
  color: #8F23B3;
}
.home-promo__link:visited {
  color: #8F23B3;
}
.home-promo__link:hover {
  color: #4c2c92;
}

.home-promo__text {
  
}
