@import "~govuk-frontend/govuk/all";

.flash-card {
  margin-top: 1em;
  padding: 10px;
  background: $govuk-link-colour;
  color: govuk-colour("white");

  p {
    margin-left: 32px;
  }

  h1 {
    &:first-of-type {
      margin-top: 0 !important;
    }
  }

  h2 {
    margin: 0.7em 0px 0.3em 0px !important;
  }

  a {
    color: govuk-colour("white");

    &:visited, &:hover, &:active {
      color: govuk-colour("white");
    }
  }

  details {
    // margin-bottom: 1em;
    summary {
      color: govuk-colour("white");
    }

    .panel {
      border-left-color: govuk-colour("white");
    }
  }

}

@media (min-width: 769px) {
  .flash-card {
    margin-top: 1.25em;
    padding: 10px 20px;
  }
}


.bottom-right-container {
  justify-content: flex-end;
  display: flex;
}
